<div class="side hidden-xs">
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "Fileon.png" ,class:"logo" %>
  <% end %>
  <div class="bottom">
    <p class=" <%= 'selected' if @selected ==  'Upload'%> "><a href="/documents/new">Uploader</a></p>
    <p class=" <%= 'selected' if @selected == 'Database' %> "><a href="/documents/">Documents</a></p>
    <p class=" <%= 'selected' if @selected == 'Transfers' %> "><a href="/procedure_requests">Procédures</a></p>
  </div>
</div>
