<div class="side hidden-xs">
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "Fileon.png" ,class:"logo" %>
  <% end %>
  <div class="bottom">
    <p class=" <%= 'selected' if @selected ==  'Upload'%> "><a href="/documents/new">Upload</a></p>
    <p class=" <%= 'selected' if @selected == 'Database' %> "><a href="/documents">Database</a></p>
    <p class=" <%= 'selected' if @selected == 'Transfers' %> "><a href="/viande/">Transfers</a></p>
    <p class=" <%= 'selected' if @selected == 'Send' %> "><a href="/dessert/">Send</a></p>
  </div>

</div>
