<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button> -->

<!-- Modal -->
<div class="modal fade" id=<%="tag#{tag.id}"%> tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= tag.name %></h4>
      </div>
      <div class="modal-body">
        <div class="text-center">
           <h1> </h1>

          <div class="overview">
          <% if document.photos? %>

            <% document.photos.each do |photo| %>
                <%= cl_image_tag photo.path, width: 300, height: 200, crop: :fill %>
            <% end %>
          <% end %>
          <p>Date du document : <%= document.document_date %></p>
          <p>Expire le : <%= document.document_date + document.tag.validity  %> </p>



          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= link_to 'Edit', edit_document_path(document), class: "btn btn-default" %>
        <%= link_to 'Close', root_path , class: "btn btn-default"%>


      </div>
    </div>
  </div>
</div>
