 <% content_for(:title_tag) do %>
   Mes Documents sur File On
 <% end %>
 <div class="right-column">
  <div class="first-block">
    <h1>Mes documents</h1>

    <div class="panel-group first-child" id="accordion" role="tablist" aria-multiselectable="true">

      <% @categories.each do |category| %>
<!-- ============================= Acordeon Principal ============================ -->
        <div class="panel panel-default">

          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= category.id %>" aria-expanded="true" aria-controls="collapse<%= category.id %>">
            <div class="panel-heading category" role="tab" id="headingOne">

              <!-- ========================= Affichage de a categorie ====== -->
              <h4 class="panel-title text-center">
                   <span class="pull-left"> <i class="<%= category.icon %> " aria-hidden="true"></i></span><%=category.name %>


                  <% if category.valid_for?(current_user) %>

                    <i class="fa fa-check presence-icon" aria-hidden="true"></i>
                  <% else %>
                    <i class="fa fa-exclamation-circle expiration-icon" aria-hidden="true"></i>
                  <% end %>
                  <span class="pull-right"> <%= category.progression(current_user) %></span>
              </h4>

            </div>
          </a>


          <div id="collapse<%= category.id %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">

            <div class="panel-body">
              <div class="panel-group first-child" id="accordion<%= category.id %>" role="tablist" aria-multiselectable="true">

                <% category.tags.each do |tag| %>

                  <% if tag.number_of_uploads <= 1 %>

              <!-- ============== Si 1 seul document -->

                      <%= link_to tag.name, "#tag#{tag.id}", data: { toggle: "modal"} %>
                      <% if tag.complete_for?(current_user) %>


                        <% @documents.where(tag: tag).each do |document| %>
                          <%= render 'modal', tag: tag, document: document  %>
                          <% if document.expired? %>
                            <i class="fa fa-exclamation-circle expiration-icon" aria-hidden="true"> Date de validité dépassée</i>
                          <% else %>
                            <i class="fa fa-check presence-icon" aria-hidden="true"></i>
                          <% end %>

                        <% end %>

                      <% else %>
                        <%= link_to "Ajouter", new_document_path(document: { tag_id: tag.id }), class: "btn btn-primary btn-xs" %>
                      <% end %>
                    <br>

                  <% else %>
<!-- =============== Si + de 1 document ======================  -->

                  <!-- ============ Acordéon secondaire head -->
                    <div class="panel-group" id="accordion<%= tag.id %>" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default tag-multiple">

                      <a role="button" data-toggle="collapse" data-parent="#accordion<%= category.id %>" href="#collapse_tag<%=tag.id %>" aria-expanded="true" aria-controls="collapse_tag<%= tag.id %>">
                        <div class="panel-heading tag-multiple" role="tab" id="headingOne">
                          <h4 class="panel-title ">
                              <%= link_to tag.name, "#collapse_tag#{tag.id}", data: { toggle: "collapse", parent: "accordion#{tag.id}"} %>


                                <% if tag.complete_for?(current_user) %>

                                  <% if check_documents_in_tag_expired?(@documents, tag)%>
                                    <i class="fa fa-exclamation-circle expiration-icon" aria-hidden="true"> Date de validité dépassée</i>
                                  <% else %>
                                    <i class="fa fa-check presence-icon" aria-hidden="true"></i>
                                  <% end %>

                                <% else %>
                                  <%= link_to "Ajouter", new_document_path(document: { tag_id: tag.id }), class: "btn btn-primary btn-xs add-btn" %>
                                <% end %>
                          </h4>
                        </div>
                      </a>
                  <!-- =========== Fin du head de l'acordeon secondaire ======== -->

                      <div id="collapse_tag<%=tag.id %>" class="panel-collapse collapse tab-multiple" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body tag-multiple">

                            <% current_user.documents.where(tag: tag).each do |document| %>
                            <!-- affiche le nom du tag et sa date  -->
                              <%= link_to "#{tag.name} #{document.document_date.strftime('%m/%y')}", "#tag#{tag.id}", data: { toggle: "modal"} %>

                              <%= render 'modal', tag: tag, document: document  %>
                                <% if document %>


                                    <% if document.expired? %>
                                      <i class="fa fa-exclamation-circle expiration-icon" aria-hidden="true"> Date de validité dépassée</i>
                                    <% else %>
                                      <i class="fa fa-check presence-icon" aria-hidden="true"></i>
                                    <% end %>



                                <% else %>
                                  <%= link_to "Ajouter", new_document_path(document: { tag_id: tag.id }), class: "btn btn-primary btn-xs" %>
                                <% end %>


                              <br>
                            <% end %>



                          </div>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
