<div class="container">
  <div class="row">
     <div class="col-xs-12 col-sm-6 col-sm-offset-3 form">
       <div class="text-center">
        <h1>Uploader des documents</h1>
        </div>
       <%= simple_form_for @document do |d| %>
        <div class="drag">
         <%= d.input :photo, as: :attachinary %>
        </div>
         <%= d.input :document_date, as: :string, label: "Date d'émission du document", input_html: {id: 'sandbox-container'} %>
         <%= d.input :tag_id, collection: @tags, prompt: "Type de Document"%>
         <%= d.submit class: "text-center btn btn-primary" %>
       <% end %>
     </div>
 </div>
</div>
