<div class="right-column">
  <div class="first-block">
    <div class="text-center">
    <h2>Télécharger des documents</h2>
    </div>
    <div class="form-for">
      <%= simple_form_for @document do |d| %>
       <label class="text-center fileUpload">
          <span class="upload btn btn-primary">Sélectionner</span>
          <%= d.input :photos, as: :attachinary, label: false, class: "upload" %>
       </label>
       <%= d.input :document_date, as: :string, label: "Date d'émission du document", input_html: {id: 'sandbox-container'} %>
       <%= d.association :tag, prompt: "Type de Document", as: (:hidden if @document.tag) %>
       <%= d.submit class: "btn btn-primary" %>
     <% end %>
    </div>
  </div>
</div>
