

<% @procedure_requests.each do |procedure_request| %>
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-<%= procedure_request.procedure.name %>" aria-expanded="true" aria-controls="collapse-<%= procedure_request.procedure.name %>">
            <div><%= procedure_request.procedure.name %> pour <%=procedure_request.part.email  %></div>
          </a>
        </h4>
      </div>

      <div id="collapse-<%= procedure_request.procedure.name %>" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          <ul>
            <% procedure_request.procedure.tags.each do |tag| %>
              <li>
                <%= tag.name %>
                <% procedure_request.part.documents.where(tag: tag).each do |document| %>
                  <% if document.expired? %>
                    <i class="fa fa-exclamation-circle expiration-icon" aria-hidden="true"> Date de validité dépassée</i>
                  <% else %>
                    <i class="fa fa-check presence-icon" aria-hidden="true"> Document uploadé et à jour </i>
                  <% end %>
                <% end %>
              </li>
            <% end %>
          </ul>

        </div>
      </div>
    </div>

  </div>
<% end %>

