<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>

    <div class="wrapper">
      <%= render 'shared/side_nav' %>
      <div class="main">
        <%= render 'shared/navbar' %>
        <%= render 'shared/nav_btn' %>
        <%= render 'shared/flashes' %>
        <%= yield %>
      </div>
    </div>
    <%= javascript_include_tag 'application' %>
    <%= cloudinary_js_config %>
  </body>
  <%= render 'shared/footer' %>
</html>
